@appPrefixUrl: "mininnboks";
@imgDir: "./../img";

@import "../node_modules/nav-frontend-core/less/core";

@import "../node_modules/nav-frontend-knapper-style/src/index";
@import "../node_modules/nav-frontend-paneler-style/src/index";
@import "../node_modules/nav-frontend-lenker-style/src/lenker-style";
@import "../node_modules/nav-frontend-spinner-style/src/spinner-style";

@import "variables";

.limit_width {
  margin: 1rem auto 0 auto;
}

@media (min-width: @screen-md-min) {
  .limit_width {
    width: @desktopLimitWidth;
  }
}

// NB: denne kommer inn via decoratøren
.vekk {
    position: fixed;
    left: -3000px;
}

.text-center {
    text-align: center;
}